env
.idea
debug.log
.vscode
.iml
node_modules
logs*/
environments.yaml
results*/
*.pyc
doc
__pycache__
*.sh
.coverage
htmlcov
output.xml
robot_variables.py
*.private
.github
package-lock.json
*telegram_variables.py
*sendmsgpayload.json
*payload.md
*info_readme.md